
body{
    font-family: 'Poppins', sans-serif;
}
.logo{
   
    width: 200px;
}
.container{
    margin-bottom: 100px;
}
nav ul a{
    font-size: 20px;
    padding: 8px 20px;
    margin-right: 15px;  
}
.signin-button{
    background: #21B573;
    color: white;
    padding: 8px 35px;
    border: none;
    border-radius: 25px;
    
}
header{
    background-color: #F0FFF0 ;  
    height: auto;
    padding-bottom: 30px;
}

.row img{
    width: 100%;
}
.container h1{
    font-size: 48px;
    font-weight: 700;
}
.get-started-button, .button-buy-courses{
    padding: 9px 26px;
    background: #21B573;
    color: white;

    font-size: 20px;
    border: none;
    border-radius: 20px;
}
.icon-content {
    padding: 30px;  
}
#icon-content{
    background: #F0FFF0;
    border: none
}
#icon-content-exp{
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: none;
}

.icon-content h5{
    font-weight: 600;
    font-size: 24px;
}
.icon-content p{
    font-size: 16px;
    font-weight: 400;
    color: #585859;

}
.icon-content img{
    width: 75px;
    height: 82px;
    
}
.icon-images{
    border: 1px solid yellowgreen;
}
#courses h3{
    font-size: 36px;
    font-weight: 700;
}
#courses p{
    color: #585859;
    font-size: 16px;
}
#courses .card-footer{
    border: none;
    background: #ffffff;
    font-weight: 600;

}
#courses h5{
    font-weight: 600;
    color: #585859;
    font-size: 24px;
}
#courses .card{
    
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    border: none;
}
#testimonials h3{
    font-size: 36px;
    font-weight: 700;
}
#testimonials .row{
  
    margin-top: 20px;
    padding: 30px;
}
#testimonials p{
    font-size: 16px;
    font-weight: 500;
}

#testimonials .container{
    margin-bottom: 0;  
}
.footer-row{
    padding: 30px; 
}
.footer-row h5{
    font-weight: 400;
    font-size: 20px;
}
.footer-row h6{
    font-weight: 700;
    font-size: 20px;
}

.footer-content p{
    font-size: 16px;
    height: 10px;
    font-weight: 400;
}
.b-text{
    text-align: center;
    color: #CDCDCD;
    padding: 10px;
    margin-top: -80px;
}
